<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    welcome {{{data.name}}}
    we are launching following products soon:
    <ol>
        {{#each data.products}}
        <li>{{this}}</li>
        {{/each}}
    </ol>
    at just Rs {{{data.price}}} . stay tune!!!
</body>
</html>